@font-face {
  font-family: 'Kaushan-Script-Regular';
  src: url(/fonts/KaushanScript-Regular.otf) format('truetype');
}
body {
  background-color: rgb(134, 252, 212);
  font-family: 'Kaushan-Script-Regular';
  background-image: url(/img/bg/paisley.png);
}
.container {
  background-color: white;
  width: 1000px;
  height: 2000px;
  margin: 10px auto;
  /* border: 3px solid #ece4e4; */
  position: relative;
  box-sizing: border-box;
}
.heading {
  width: 100%;
  height: 500px;
}
.heading .slide {
  position: relative;
}
.navigasi li a {
  text-decoration: none;
  color: rgba(250, 245, 245, 0.6);
  display: inline-block;
  z-index: 9999;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  float: left;
  left: 55%;
  top: -45px;
  text-shadow: 1px 1px 1px green;
}
.navigasi a:hover {
  color: rgba(207, 222, 7, 0.906);
  text-shadow: 1px 1px 1px white;
}
.heading .logo {
  top: 18px;
  width: 100px;
  position: relative;
  z-index: 9999;
  -webkit-filter: drop-shadow(0 0 12px white);
}
.heading .slide {
  max-width: auto;
  height: 500px;
  position: relative;
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -65px;
}
.slide1 {
  background-image: url(/img/slide/slide1.png);
  background-size: cover;
  animation: fade 8s 5s ease-in-out infinite;
  -webkit-animation: fade 8s 5s ease-in-out infinite;
  opacity: 0;
}
.slide2 {
  background-image: url(/img/slide/slide2.png);
  background-size: cover;
  animation: fade2 8s 5s ease-in-out infinite;
  -webkit-animation: fade2 8s 5s ease-in-out infinite;
  opacity: 0;
}
.slide3 {
  background-image: url(/img/slide/slide3.png);
  background-size: cover;
  animation: fade3 8s 5s ease-in-out infinite;
  -webkit-animation: fade3 8s 5s ease-in-out infinite;
  opacity: 0;
}
/* main */
.main {
  width: 100%;
  height: 500px;
  background-color: rgb(232, 223, 204);
  box-sizing: border-box;
}
.main .cari {
  width: 380px;
  height: 43px;
  background-color: white;
  border: 1px solid whitesmoke, 2px solid wheat;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  top: -20px;
  left: 30%;
  border-radius: 11px;
  border: 1px solid rgb(58, 54, 54);
  transition: 500ms;
}
.main .cari:hover {
  top: -30px;
  box-shadow: 0 30px 5px -20px rgb(18, 15, 15);
  border: none;
}
.main .cari input {
  border: 1px solid rgba(26, 25, 25, 0.7);
  width: 300px;
  height: 25px;
  border-radius: 10px;
  margin-left: 10px;
}
.main .cari button {
  border: none;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  border-radius: 10px;
}
.main .cari button:hover {
  background-color: lightskyblue;
}
.main h2 {
  text-align: center;
  font-size: 30px;
}
.main .jenis-bacaan .jenis {
  width: 150px;
  height: 180px;
  background-color: rgb(230, 230, 240);
  float: left;
  margin-left: 20px;
  position: relative;
  top: 30px;
  left: 60px;
  transition: 1s;
  font-size: 150px;
  text-align: center;
  line-height: 180px;
  border-radius: 10px;
}
.jenis-bacaan .jenis a {
  color: black;
  text-decoration: none;
}
.jenis-bacaan .jenis span {
  font-size: 12px;
  position: relative;
  top: -100px;
}
.main .jenis-bacaan .jenis:hover {
  top: 20px;
  box-shadow: 0 30px 5px -20px rgba(26, 25, 25, 0.7);
}
.main .jenis-bacaan .jenis1 {
}
/* animation */
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* clear */
.clar {
  clear: both;
}
